<Files "staff.html">
AuthType Basic
AuthName "Restricted access"
AuthUserFile "var/www/iamgrecell.github.io/HaukaiRestaurantGRecellMarciales/.htpasswd"
Require valid-user
</Files>
<!-- chmod 644 .htaccess
sudo service apache2 restart -->
